*{
    margin: 0;
    padding:0;
}

body{
    background-color: #000000;
}

.cabeca ul{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 35px;
    padding: 20px;
    background-color: #f57a16;
}

.cabeca li{
    text-decoration: none;
    list-style-type: none;
    color: #000000;
    margin-left: 0px;
    cursor: pointer;
}

.informacoes{
    display: inline-block;
}

.foto img{
    margin-left: 135px;
    margin-top: 130px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.foto{
    width: 39%;
    height: 39%;
}

.texto{
    width: 59%;
    height: 59%;
    margin-left: 450px;
    margin-top: -530px;
}

.texto h1{
    margin-top: 275px;
    margin-left: 5px;
    color: #f57a16;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
}

.texto h1 span{
    margin-top: -15px;
    color: #FFFFFF;
    display: block;
}

.texto h2{
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.texto h2 span{
    display: block;
}